spring:
  datasource:
    url: jdbc:mysql://localhost:3306/burgerdb?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 1burhan234
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: validate

server:
  port: 8080
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
